<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tandonku">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TandonKu"
        tools:targetApi="31">

        <!-- LoginActivity sebagai LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Register jika belum punya akun -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <!-- Profil setelah login -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <!-- Halaman notifikasi -->
        <activity
            android:name=".NotificationActivity"
            android:exported="false"/>

        <!-- Detail notifikasi -->
        <activity
            android:name=".DetailNotificationActivity"
            android:exported="false"/>

        <!-- Update email -->
        <activity
            android:name=".UpdateEmailActivity"
            android:exported="true" />

        <!-- Update password -->
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="true" />

    </application>

</manifest>